doctype html
html
  head
    title Game Details
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header
      .menu
        button#homeBtn
          img.home(src="../images/home.png")
        button#endGame End Game

      - var player1 = null
      - var player2 = null
      - var player3 = null
      - var player4 = null

      - if (playerData)
        each player in playerData
          if player.playerSlot == "Player 1"
            - player1 = player
          else if player.playerSlot == "Player 2"
            - player2 = player
          else if player.playerSlot == "Player 3"
            - player3 = player
          else if player.playerSlot == "Player 4"
            - player4 = player

      if player1
        #p1
          .player #{player1.playerName}
          .row
            div(style="color:white;") Total Money: #{player1.totalMoney}
            button.btn(onclick=`window.location.href='/modifyMoney/${player1.playerId}'`)
              img(src='../images/dollar.png', alt='updateWallet' class="dollar")
      if player2
        #p2
          .player #{player2.playerName}
          .row 
            div(style="color:white;") Total Money: #{player2.totalMoney}
            button.btn(onclick=`window.location.href='/modifyMoney/${player2.playerId}'`)
              img(src='../images/dollar.png', alt='updateWallet' class="dollar")
      if player3
        #p3
          .player #{player3.playerName}
          .row
            div Total Money: #{player3.totalMoney}
            button.btn(onclick=`window.location.href='/modifyMoney/${player3.playerId}'`)
              img(src='../images/dollar.png', alt='updateWallet' class="dollar")
      if player4
        #p4
          .player #{player4.playerName}
          .row
            div Total Money: #{player4.totalMoney}
            button.btn(onclick=`window.location.href='/modifyMoney/${player4.playerId}'`)
              img(src='../images/dollar.png', alt='updateWallet' class="dollar")

  main
  block content

  script.
    document.getElementById('endGame').addEventListener('click', function() {
      window.location.href = '/endGame';
    });
    document.getElementById('homeBtn').addEventListener('click', function() {
      window.location.href = '/homePage';
    });
  